
nav{
    background: linear-gradient(90deg, rgba(0,99,65,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 67%, rgba(204,17,38,1) 100%);
    border: solid 1px black;
    width: 100vw;
}
.logo{
    float: left;
    color: maroon;
}
.escu{
    height: 80px;
    width: 100px;
    z-index: 22;
    display: inline-block;
    margin-left: 34%;
    justify-content: center;
}
nav ul li a{
    color: maroon;   
}
.togglebtn{
    color: maroon;
}



.perfil .top{
    background-image: url(http://drive.google.com/uc?export=view&id=1Y8CBwIn348NWPIKIecFxIzU6paCV6_W1);
}
.perfil .top .foto{
    /* background: linear-gradient(90deg, rgba(237,49,150,1) 0%, rgba(255,128,0,1) 100%); */
    background: linear-gradient(90deg, rgba(0,99,65,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(204,17,38,1) 100%);
}
.perfil .top .nombre{
    color: #efb810;
}
.perfil .top .descripcion{
    color: #b1b7b8;
    font-weight: bolder;
}
.perfil .top .elementos a {
    color: #6D9848;
}
.contactame{
    /* color: #b1b7b8;
    border: 2px solid #b1b7b8; */
    color: red;
    border: 2px solid #efb810;
    background: #efb810;
}
.contactame:hover{
    background: #e66767;
    color: #fff;
}

.button{
    background: #f4f4f4;
}



.footer{
    background: linear-gradient(90deg, rgba(0,99,65,1) 0%, rgba(0,99,65,1) 25%, rgba(255,255,255,1) 27%, rgba(255,255,255,1) 67%, rgba(204,17,38,1) 69%, rgba(204,17,38,1) 100%);
}
.footerContainer{
	margin-left: 41%;
}
.footerContainer ul li a{
	color: #8b4513;
}
.footerContainer ul li a:hover{
	color: #ffffff;
}
.footerContainer .socialIcons a{
	background-color: rgba(255,255,255,0.2);
	color: #8b4513;
	transition: all 0.5s ease;
}
.footerContainer .socialIcons a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footerBottom{
	color: #8b4513;
}
.ulFooter {
    margin-left: 10px;
}

@media (min-width: 1441px) and (max-width: 1800px){
    .escu{
        margin-left: 23%;
    }
}
@media (max-width: 1440px){
    .escu{
        margin-left: 21%;
    }
}
@media (min-width: 1054px) and (max-width: 1163px){
    .escu{
        margin-left: 14%;
    }
}
@media (min-width: 1026px) and (max-width: 1053px){
    .escu{
        margin-left: 11%;
    }
}
@media (max-width: 1025px){
    .escu{
        margin-left: 10%;
    }
}
@media (min-width: 858px) and (max-width: 1006px){
    nav ul li a{
        font-size: 14px;    
    }
    .footerContainer{
        margin-left: 34%;
    }    
}
@media (min-width: 768px){
    .footerContainer{
        margin-left: 35%;
    }    
}
@media (max-width: 574px){
    .footerContainer {
        margin-left: 0%;
    }    
    .footerContainer .socialIcons a{
        margin-left: 0%;
    }
}
@media (max-width: 426px){
    .escu{
        height: 60px;
        width: 60px;
        margin-left: -20%;
    }
    .footerContainer{
        margin-left: 21%;
    }   
}
@media (max-width: 376px){
    .escu{
        margin-left: -26%;
    }
    header{
        padding-bottom: 20%;
    }
    .cuerpo{
        width: 79%;
        margin-left: 10%;
    }
    .perfil{
        width: 345px;;
    }
    .footerContainer{
        margin-left:20%;
    }   
}
@media (max-width: 321px){
    .escu{
        margin-left: -13%;
    }    
    .cuerpo{
        width: 72%;
    }
    .footerContainer{
        margin-left: 0%;
    }   
}