
nav{
    background: linear-gradient(90deg, rgba(131,58,180,0.7455357142857143) 0%, rgba(65,162,186,1) 100%);
}



.perfil .top{
    background: radial-gradient(circle, rgba(166,165,165,1) 0%, rgba(238,238,240,1) 100%);
}
.perfil .top .foto{
    background: #000;
}
.perfil .top .nombre {
    color: #000;
}
.perfil .top .descripcion{
    color: #000000;
    font-weight: bold;
}
.perfil .top .elementos a {
    color: #04b76b;
}
.contactame{
    color: #fff;
    border: 2px solid #fce28e;
    background: green;
}
.contactame:hover{
    background: #fce28e;
    color: #000;
}

.button{
    background: #f4f4f4;
}

.footerContainer ul li a{
    color: #7386c1;
    font-weight: bold;
}

.footerContainer ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footerContainer .socialIcons a{
	background-color: #adadad;
	color: #833ab4;
}
.footerContainer .socialIcons a:hover{
	color: #833ab4;
	background-color: #ffffff;
}
.footerBottom{
	text-align: center;
	color: #43a0bb;
    font-weight: bold;

}





.footer{
    background-color: #24262b;
    border: 1px solid; 
    border-image: linear-gradient(to top, #24262b 30%, #eeeef0 100%) 1; 
}





